.footer-container {
  display: grid;
  min-height: 40px;
  background-color: var(--background-content-color);
  padding: 10px 40px;
  grid-template-areas: ". main main main other";
}

.footer-container i {
  cursor: pointer;
}

.main-controls {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-controls .controls {
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-controls .controls .play-pause {
  font-size: 50px;
}

.main-controls .progressbar {
  width: 400px;
}

.other-controls {
  grid-area: other;
}